# Syntax

In [1]:
# 1. Insert the missing part of the code below to output "Hello World!"
print("Hello World!")

Hello World!

In [2]:
# 2. Insert the missing indentation to make the code correct
if (5 > 2):
    print("Five is greater than 2!")

Five is greater than 2!

# Comments

In [3]:
# 3. Comments in Python are written with special character "#"
# This is a comment

In [4]:
# 4. Use a multiline string to make the multiline comments
""" This is multiline comments
"""

' This is multiline comments\n'

# Variables

In [5]:
# 5. Create a variable name "carname" and assign the value "Volvo" to it
carname = 'Volvo'

In [6]:
# 6. Create a variable named "x" and assign the value 50 to it
x = 50

In [7]:
# 7. Display the sum of 5 + 10, using two variables : x and y
x = 5
y = 10
print(x + y)

15

In [8]:
# 8. Create a variable called z, assign x + y to it, and display the result
x = 5
y = 10
z = x + y
print(z)

15

In [9]:
# 9. Remove the illegal characters in the variable name
myfirst_name = 'John'

In [10]:
# 10. Insert the correct syntax to assign the same value to all three variables in one code line
x = y = z = 'Orange'

In [11]:
# 11. Insert the correct keyword to make the variable x belong to the global space
def myfunc():
    global x
    x = 'fantastic'

# Data Types

In [12]:
# 12. The following code example would print the data type of x
x = 5
print(type(x))

<class 'int'>

In [13]:
# 13. The following data type would print the data type of x
x = "Hello World!"
print(type(x))

<class 'str'>

In [14]:
# 14. The following data type would print the data type of x
x = 20.5
print(type(x))

<class 'float'>

In [15]:
# 15. The following data type would print the data type of x
x = ['apple', 'banana', 'cherry']
print(type(x))

<class 'list'>

In [16]:
# 16. The following data type would print the data type of x
x = ('apple', 'banana', 'cherry')
print(type(x))

<class 'tuple'>

In [17]:
# 17. The following data type would print the data type of x
x = {'name' : 'John', 'age' : 36}
print(type(x))

<class 'dict'>

In [18]:
# 18. The following data type would print the data type of x
x = True
print(type(x))

<class 'bool'>

# Numbers

In [19]:
# 19. Insert the correct syntax to convert x into a floating number
x = 5
float(x)

5.0

In [20]:
# 20. Insert the correct syntax to convert x into an integer
x = 5.5
int(x)

5

In [21]:
# 21. Insert the correct syntax to convert x into a complex number
x = 5
complex(x)

(5+0j)

# Strings

In [22]:
# 22. Use the len method to print the length of the string
x = 'Hello World!'
print(len(x))

12

In [23]:
# 23. Get the first character of the string txt
txt = 'Hello World!'
txt[0]

'H'

In [24]:
# 24. Get the characters from index 2 to index 4
txt = 'Hello World!'
txt[2:5]

'llo'

In [25]:
# 25. Return the string without any whitespace at the begining or at the end
txt = ' Hello World! '
txt.strip()

'Hello World!'

In [26]:
# 26. Convert the value of the txt to upper case
txt = 'Hello World!'
txt.upper()

'HELLO WORLD!'

In [27]:
# 27. Convert the value of the txt to upper case
txt = 'Hello World!'
txt.lower()

'hello world!'

In [28]:
# 28. Replace the character H with J
txt = 'Hello World!'
txt.replace('H', 'J')

'Jello World!'

In [29]:
# 29. Insert the correct syntax to add a placeholder for the age parameter
age = 36
txt = "My name is John, and I am {}"
print(txt.format(age))

My name is John, and I am 36

# Booleans

In [30]:
# 30. The statement below would print a Boolean value
print(10 > 9)

True

In [31]:
# 31. The statement below would print the Boolean value
print(10 == 9)

False

In [32]:
# 32. The statement below would print the Boolean value
print(10 < 9)

False

In [33]:
# 33. The statement below would print the boolean value
print(bool('abc'))

True

In [34]:
# 34. The statement below would print the boolean value
print(bool(0))

False

# Operators

In [35]:
# 35. Multiply 10 with 5, and print the result
print(10 * 5)

50

In [36]:
# 36. Divide 10 by 2, and print the result
print(10 / 2)

5.0

In [37]:
# 37. Use the correct memebership operator
fruits = ['apple', 'banana']
if 'apple' in fruits:
    print('Yes, apple is a fruit')

Yes, apple is a fruit

In [38]:
# 38. Use the correct comparison operator to check if 5 is not equal to 10
if 5 != 10:
    print('5 is not equal to 10')

5 is not equal to 10

In [39]:
# 39. Use the correct logical operator to check if at least one of two statement is True
if 5 == 10 or 4 == 4:
    print('At least one of the statement if True')

At least one of the statement if True

# Lists

In [40]:
# 40. Print the second item in the fuits list
fruits = ['apple', 'banana', 'cherry']
print(fruits[1])

banana

In [41]:
# 41. Change the value from "apple" to "kiwi"
fruits = ['apple', 'banana', 'cherry']
fruits[0] = 'kiwi'
fruits

['kiwi', 'banana', 'cherry']

In [42]:
# 42. Use append method to add "orange" to the fuits list
fruits = ['apple', 'banana', 'cherry']
fruits.append('orange')
fruits

['apple', 'banana', 'cherry', 'orange']

In [43]:
# 43. Use the insert method to add "lemon" as a second item in the fruits list
fruits = ['apple', 'banana', 'cherry']
fruits.insert(1, 'lemon')
fruits

['apple', 'lemon', 'banana', 'cherry']

In [44]:
# 44. Use the remove method to remove "banana" from the fruits list
fruits = ['apple', 'banana', 'cherry']
fruits.remove('banana')
fruits

['apple', 'cherry']

In [45]:
# 45. Use negative indexing to print the last item in the list
fruits = ['apple', 'banana', 'cherry']
print(fruits[-1])

cherry

In [46]:
# 46. Use range of indexes to print the third, fourth and fifth item in the list
fruits = ['apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango']
print(fruits[2:5])

['cherry', 'orange', 'kiwi']

In [47]:
# 47. Use the correct syntax to print the number of items in the list
fruits = ['apple', 'banana', 'cherry']
print(len(fruits))

3

# Tuples

In [48]:
# 48. Use the correct syntax to print the first item in the fruits tuple
fruits = ('apple', 'banana', 'cherry')
print(fruits[0])

apple

In [49]:
# 49. Use the correct syntax to print the number of items in the fruits list
fruits = ('apple', 'banana', 'cherry')
print(len(fruits))

3

In [50]:
# 50. Use negative indexing to print last item in the tuple
fruits = ('apple', 'banana', 'cherry')
print(fruits[-1])

cherry

In [51]:
# 51. Use a range of indexes to print the third, fourth and fifth item in the tuple
fruits = ('apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango')
print(fruits[2:5])

('cherry', 'orange', 'kiwi')

# Sets

In [52]:
# 52. Check if "apple" is present in the fruits set
fruits = {'apple', 'banana', 'cherry'}
if 'apple' in fruits:
    print('Yes, apple is a fruit')

Yes, apple is a fruit

In [53]:
# 53. Use the "add" method to add "orange" to the fruits set
fruits = {'apple', 'banana', 'cherry'}
fruits.add('orange')
print(fruits)

{'apple', 'orange', 'banana', 'cherry'}

In [54]:
# 54. Use the correct method to add multiple items from "more_fruits" to the fruits set
fruits = {'apple', 'banana', 'cherry'}
more_fruits = ['orange', 'mango', 'grapes']
fruits.update(more_fruits)
print(fruits)

{'apple', 'orange', 'banana', 'cherry', 'mango', 'grapes'}

In [55]:
# 55. Use the remove menthod to remove "banana" from the fruits set
fruits = {'apple', 'banana', 'cherry'}
fruits.remove('banana')
print(fruits)

{'apple', 'cherry'}

In [56]:
# 56. Use the discard method to remove "banana" from the fruits set
fruits = {'apple', 'banana', 'cherry'}
fruits.discard('banana')
print(fruits)

{'apple', 'cherry'}

# Dictionaries

In [57]:
# 57. Use the "get" method to print the value of the model key of the car dictionary
car = {'brand' : 'Ford', 'model' : 'Mustang', 'year' : 1964}
print(car.get('model'))

Mustang

In [58]:
# 58. Change the year value from 1964 to 2020
car = {'brand' : 'Ford', 'model' : 'Mustang', 'year' : 1964}
car['year'] = 2020
print(car)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

In [59]:
# 59. Add key/value "color" : 'Red' to the car dictionary
car = {'brand' : 'Ford', 'model' : 'Mustang', 'year' : 1964}
car['color'] = 'Red'
print(car)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'Red'}

In [60]:
# 60. Use the pop method to remove "model" from the car dictionary
car = {'brand' : 'Ford', 'model' : 'Mustang', 'year' : 1964}
car.pop('model')
print(car)

{'brand': 'Ford', 'year': 1964}

In [61]:
# 61. Use the clear method to empty the car dictionary
car = {'brand' : 'Ford', 'model' : 'Mustang', 'year' : 1964}
car.clear()
print(car)

{}

# If ... Else

In [62]:
# 62. Print Hello World! if a is greater than b
a = 50
b = 10
if a > b :
    print('Hello World!')

Hello World!

In [63]:
# 63. Print Hello World! if a is not equal to b
a = 50
b = 10
if a != b :
    print('Hello World!')

Hello World!

In [64]:
# 64. Print "Yes" if a is equal to b, otherwise print "No"
a = 50
b = 10
if a == b:
    print("Yes")
else:
    print("No")

No

In [65]:
# 65. Print 1 if  a is equal to b, print 2 if a is greater than b, otherwise print 3
a = 50
b = 10
if a == b:
    print('1')
elif a > b:
    print('2')
else:
    print('3')

2

In [66]:
# 66. Print "Hello" if a is equal to b and c is equal to d 
a = 50
b = 50
c = 50
d = 50
if a == b and c == d:
    print('Hello')

Hello

In [67]:
# 67. Print "Hello" if a is equal to b or c is equal to d
a = 50
b = 50
c = 50
d = 50
if a == b or c == d:
    print('Hello')

Hello

In [68]:
# 68. Insert the missing indentation to make the code correct
if 5 > 2:
    print('Five is greater than two!')

Five is greater than two!

In [69]:
# 69. Use the correct short hand syntax to put the following statement on one line
if 5 > 2: print('Five is greater than two!')

Five is greater than two!

In [70]:
# 70. Use the correct short hand syntax to write the following conditional expression in one line
print('Yes') if 5 > 2 else print('No')

Yes

# While Loops

In [71]:
# 71. Print i as long as i is less than 6
i = 1
while i < 6:
    print (i)
    i += 1

1
2
3
4
5

In [72]:
# 72. Stop the loop if i is 3
i = 1
while i < 6:
    if i == 3:
        break
    i += 1

In [73]:
# 73. In the loop, when i is 3, jump directly to the next iteration
i = 0
while i < 6:
    i += 1
    if i == 3:
        continue
    print(i)

1
2
4
5
6

In [74]:
# 74. Print a message once the condition is false
i = 1
while i < 6:
    print (i)
    i += 1
else:
    print('i is no longer less than 6')

1
2
3
4
5
i is no longer less than 6

# For Loops

In [75]:
# 75. Loop through the items in the fruits list
fruits = ['apple', 'banana', 'cherry']
for x in fruits:
    print(x)

apple
banana
cherry

In [76]:
# 76. In the loop, when the item value is "banana", jump directly to the next item
fruits = ['apple', 'banana', 'cherry']
for x in fruits:
    if x == 'banana':
        continue
    print(x)

apple
cherry

In [77]:
# 77. Use the range function to loop through a code set 6 times
for x in range(6):
    print(x)

0
1
2
3
4
5

In [78]:
# 78. Exit the loop when x is "banana"
fruits = ['apple', 'banana', 'cherry']
for x in fruits:
    if x == 'banana':
        break
    print(x)

apple

# Functions

In [79]:
# 79. Create a function named my_function
def my_functions():
    print('Hello from a function')
my_functions()

Hello from a function

In [80]:
# 80. Execute a function named my_function
def my_functions():
    print('Hello from a function')
my_functions()

Hello from a function

In [81]:
# 81. Inside the function with two parameters, print the first parameter
def my_function(fname, lname):
    print(fname)
my_function(fname = 'John', lname = 'Carter')

John

In [82]:
# 82. Let the function return x parameter + 5
def my_function(x):
    return x+5
my_function(10)

15

In [83]:
# 83. If you do not know the number of arguments that will be passed into your function, which prefix you can add in the function definition
def my_function(*kids):
    print("The youngest child is " + kids[2])

In [84]:
# 84. If you do not know the number of keyword arguments that will be passed into your function, which prefix you can add in the function definition
def my_function(**kid):
    print("His last name is " + kid["lname"])